@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Bitcount:wght@100..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Doto:wght@100..900&family=Fira+Code:wght@300..700&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kristi&family=Lilex:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway+Dots&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Playfair Display";
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    text-align: center;
    width: 100%;
    padding: 1.2rem;
}

h1 {
  color: #222222;
  margin-bottom: 20px;
  font-size: 2rem;
}

.board {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.list {
  background-color: #e3e4e8;
  padding: 1rem;
  border-radius: 8px;
  width: 30%;
  min-height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list h2 {
  color: #3b3a3a;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.card {
  background-color: white;
  color: #333;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: grab;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:active {
  cursor: grabbing;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list.over {
  background-color: #d1d3d8;
}

@media (max-width: 768px) {
  .board {
    flex-direction: column;
    align-items: center;
  }

  .list {
    width: 80%;
    margin-bottom: 20px;
  }
}